<div *ngIf="createNewRateOrigin">
  <div class="modal-header">
    <h5 class="modal-title">Create new rate</h5>
  </div>
  <div class="modal-body">
    <div class="row align-items-center">
      <div class="col-md-1">
        <label for="rateDropdown">Rate:</label>
      </div>
      <div class="col-md-3">
        <div ngbDropdown class="d-inline-block w-100">
          <button
            class="btn btn-outline-success dropdown-toggle w-100"
            id="rateDropdown"
            ngbDropdownToggle
            type="button"
          >
            {{ rate || "Select an option" }}
          </button>
          <div ngbDropdownMenu class="w-100">
            <button
              *ngFor="let rateOption of rateOptions"
              class="dropdown-item"
              (click)="selectRateOption(rateOption)"
            >
              {{ rateOption }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2" *ngIf="this.rate === '3.0TD'">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            [(ngModel)]="greenPower"
            (change)="onGreenPowerCheckboxChange()"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Green power
          </label>
        </div>
      </div>
    </div>

    <br />

    <div class="row align-items-center" *ngIf="showType">
      <div class="col-md-1">
        <label for="typeDropdown">Type:</label>
      </div>
      <div class="col-md-3">
        <div ngbDropdown class="d-inline-block w-100">
          <button
            class="btn btn-outline-success dropdown-toggle w-100"
            id="typeDropdown"
            ngbDropdownToggle
            type="button"
          >
            {{ type || "Select an option" }}
          </button>
          <div ngbDropdownMenu class="w-100">
            <button
              *ngFor="let productTypeOption of productTypeOptions"
              class="dropdown-item"
              (click)="selectTypeOption(productTypeOption)"
            >
              {{ productTypeOption }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row align-items-center" *ngIf="showType2td">
      <div class="col-md-1">
        <label for="type2tdDropdown">Type 2td:</label>
      </div>
      <div class="col-md-3">
        <div ngbDropdown class="d-inline-block w-100">
          <button
            class="btn btn-outline-success dropdown-toggle w-100"
            id="type2tdDropdown"
            ngbDropdownToggle
            type="button"
          >
            {{ type2td || "Select an option" }}
          </button>
          <div ngbDropdownMenu class="w-100">
            <button
              *ngFor="let type2tdOption of type2tdOptions"
              class="dropdown-item"
              (click)="selectType2tdOption(type2tdOption)"
            >
              {{ type2tdOption }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />

    <table class="table table-bordered" *ngIf="showBasePriceGrid">
      <!-- Header -->
      <thead>
        <tr class="text-center">
          <th></th>
          <!-- Empty header cell for alignment -->
          <th>P1</th>
          <th>P2</th>
          <th>P3</th>
          <th>P4</th>
          <th>P5</th>
          <th>P6</th>
        </tr>
      </thead>

      <!-- Body -->
      <tbody>
        <!-- Cons -->
        <tr>
          <td><label for="consLabel" class="col-form-label">Cons</label></td>
          <td>
            <app-formatted-decimal-input
              [data]="cons[0]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="cons[1]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="cons[2]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="cons[3]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="cons[4]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="cons[5]"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- Pot -->
        <tr>
          <td><label for="potLabel" class="col-form-label">Pot</label></td>
          <td>
            <app-formatted-decimal-input
              [data]="pots[0]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="pots[1]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="pots[2]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="pots[3]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="pots[4]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="pots[5]"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- PreBaPot -->
        <tr>
          <td>
            <label for="preBaPotLabel" class="col-form-label">PreBaPot</label>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaPots[0]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaPots[1]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaPots[2]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaPots[3]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaPots[4]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaPots[5]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- MarPot -->
        <tr>
          <td>
            <label for="MarPotLabel" class="col-form-label">MarPot</label>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marPots[0]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marPots[1]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marPots[2]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marPots[3]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marPots[4]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marPots[5]"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- PreFiPot -->
        <tr>
          <td>
            <label for="PreFiPotLabel" class="col-form-label">PreFiPot</label>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiPots[0]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiPots[1]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiPots[2]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiPots[3]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiPots[4]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiPots[5]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- PreBaEne -->
        <tr>
          <td>
            <label for="PreBaEneLabel" class="col-form-label">PreBaEne</label>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaEnes[0]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaEnes[1]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaEnes[2]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaEnes[3]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaEnes[4]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preBaEnes[5]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- MarEne -->
        <tr>
          <td>
            <label for="MarEneLabel" class="col-form-label">MarEne</label>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marEnes[0]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marEnes[1]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marEnes[2]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marEnes[3]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marEnes[4]"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="marEnes[5]"
            ></app-formatted-decimal-input>
          </td>
        </tr>

        <!-- PreFiEne -->
        <tr>
          <td>
            <label for="PreFiEneLabel" class="col-form-label">PreFiEne</label>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiEnes[0]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiEnes[1]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiEnes[2]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiEnes[3]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiEnes[4]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
          <td>
            <app-formatted-decimal-input
              [data]="preFiEnes[5]"
              [isDisabled]="true"
            ></app-formatted-decimal-input>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="readCurrentRateOrigin || deleteCurrentRateOrigin">
  <div class="modal-header">
    <h5 class="modal-title">Predefined rate</h5>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col-md-1 me-2">
        <label class="col-form-label">Rate</label>
      </div>
      <div class="col-md-3 me-2">
        <!-- Adjust column size as needed -->
        <input type="text" class="form-control" [(ngModel)]="rate" disabled />
      </div>
      <div class="col-md-1 me-2">
        <label class="col-form-label">Type</label>
      </div>
      <div class="col-md-3 me-2">
        <input type="text" class="form-control" [(ngModel)]="type" disabled />
      </div>
      <div class="form-check col-md-2 me-2" *ngIf="this.rate === '3.0TD'">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="greenPower"
          disabled
        />
        <label *ngIf="this.rate === '3.0TD'"> Green power </label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-1 me-2" *ngIf="this.rate === '2.0TD'">
        <label class="col-form-label">Type 2td</label>
      </div>
      <div class="col-md-3" *ngIf="this.rate === '2.0TD'">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="type2td"
          disabled
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-2"></div>
      <!-- Empty column for alignment -->
      <div class="col-md-10">
        <div class="row text-center">
          <div class="col-md-2" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
            <label class="form-label">P{{ i }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-md-2">Pot Fees</label>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marPots[0]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marPots[1]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marPots[2]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marPots[3]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marPots[4]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marPots[5]"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-md-2">Ene Fees</label>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marEnes[0]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marEnes[1]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marEnes[2]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marEnes[3]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marEnes[4]"
              disabled
            />
          </div>
          <div class="col-md-2">
            <input
              type="text"
              class="form-control text-end"
              [(ngModel)]="marEnes[5]"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer justify-content-end">
  <input
    type="text"
    class="form-control me-2"
    *ngIf="createNewRateOrigin"
    style="max-width: 300px"
    placeholder="Rate name"
    [(ngModel)]="rateName"
  />
  <button
    type="button"
    class="btn btn-success me-2"
    *ngIf="createNewRateOrigin"
    (click)="saveNewRate()"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    *ngIf="deleteCurrentRateOrigin"
    (click)="deletePredefinedRate()"
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
