<div *ngIf="createNewRateOrigin">
  <div class="modal-header">
    <h5 class="modal-title">Create new rate</h5>
  </div>
  <div class="modal-body">
    <div class="row align-items-center">
        <div class="col-md-1">
            <label for="rateDropdown">Rate:</label>
        </div>
        <div class="col-md-3">
            <div ngbDropdown class="d-inline-block w-100">
                <button
                  class="btn btn-outline-success dropdown-toggle w-100"
                  id="rateDropdown"
                  ngbDropdownToggle
                  type="button"
                >
                  {{ rate || 'Select an option' }}
                </button>
                <div ngbDropdownMenu class="w-100">
                  <button
                    *ngFor="let rateOption of rateOptions"
                    class="dropdown-item"
                    (click)="selectRateOption(rateOption)"
                  >
                    {{ rateOption }}
                  </button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row align-items-center" *ngIf="showType">
        <div class="col-md-1">
            <label for="typeDropdown">Type:</label>
        </div>
        <div class="col-md-3">
            <div ngbDropdown class="d-inline-block w-100">
                <button
                  class="btn btn-outline-success dropdown-toggle w-100"
                  id="typeDropdown"
                  ngbDropdownToggle
                  type="button"
                >
                  {{ type || 'Select an option' }}
                </button>
                <div ngbDropdownMenu class="w-100">
                  <button
                    *ngFor="let productTypeOption of productTypeOptions"
                    class="dropdown-item"
                    (click)="selectTypeOption(productTypeOption)"
                  >
                    {{ productTypeOption }}
                  </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row align-items-center" *ngIf="showType2td">
        <div class="col-md-1">
            <label for="type2tdDropdown">Type 2td:</label>
        </div>
        <div class="col-md-3">
            <div ngbDropdown class="d-inline-block w-100">
                <button
                  class="btn btn-outline-success dropdown-toggle w-100"
                  id="type2tdDropdown"
                  ngbDropdownToggle
                  type="button"
                >
                  {{ type2td || 'Select an option' }}
                </button>
                <div ngbDropdownMenu class="w-100">
                  <button
                    *ngFor="let type2tdOption of type2tdOptions"
                    class="dropdown-item"
                    (click)="selectType2tdOption(type2tdOption)"
                  >
                    {{ type2tdOption }}
                  </button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row align-items-center" *ngIf="showBasePriceGrid">
        <!--Cons-->
        <div class="row mb-3">
          <div class="col-md-2"></div> <!-- Empty column for alignment -->
          <div class="col-md-10">
            <div class="row text-center">
              <div class="col-md-2" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
                <label for="consInput{{i-1}}" class="form-label">P{{i}}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
        <label for="consLabel" class="col-form-label col-md-2">Cons</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2">
                      <input type="text" 
                              class="form-control text-end" 
                              placeholder="0,00" 
                              [value]="formatDisplayValue(cons[0])"
                              [(ngModel)]="cons[0]"
                              (input)="onInputChange($event)" 
                              (keypress)="onKeyPress($event)"
                              />
                    </div>
                    <div class="col-md-2">
                      <input type="text" 
                              class="form-control text-end" 
                              placeholder="0,00" 
                              [value]="formatDisplayValue(cons[1])"
                              [(ngModel)]="cons[1]"
                              (input)="onInputChange($event)" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" 
                                class="form-control text-end" 
                                placeholder="0,00" 
                                [value]="formatDisplayValue(cons[2])"
                                [(ngModel)]="cons[2]"
                                (input)="onInputChange($event)" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" 
                                class="form-control text-end" 
                                placeholder="0,00" 
                                [value]="formatDisplayValue(cons[3])"
                                [(ngModel)]="cons[3]"
                                (input)="onInputChange($event)" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" 
                                class="form-control text-end" 
                                placeholder="0,00" 
                                [value]="formatDisplayValue(cons[4])"
                                [(ngModel)]="cons[4]"
                                (input)="onInputChange($event)" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" 
                                class="form-control text-end" 
                                placeholder="0,00" 
                                [value]="formatDisplayValue(cons[5])"
                                [(ngModel)]="cons[5]"
                                (input)="onInputChange($event)" />
                    </div>
                  </div>
            </div>
        </div>
        <!--Pot-->
        <div class="row mb-3">
            <label for="potLabel" class="col-form-label col-md-2">Pot</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" 
                                class="form-control text-end" 
                                placeholder="0,00" 
                                [value]="formatDisplayValue(pots[0])"
                                [(ngModel)]="pots[0]"
                                (input)="onInputChange($event)" 
                                (keypress)="onKeyPress($event)"
                                />
                      </div>
                      <div class="col-md-2">
                        <input type="text" 
                                class="form-control text-end"  
                                placeholder="0,00" 
                                [value]="formatDisplayValue(pots[1])"
                                [(ngModel)]="pots[1]"
                                (input)="onInputChange($event)" />
                      </div>
                      <div class="col-md-2">
                          <input type="text" 
                                  class="form-control text-end" 
                                  placeholder="0,00" 
                                  [value]="formatDisplayValue(pots[2])"
                                  [(ngModel)]="pots[2]"
                                  (input)="onInputChange($event)" />
                      </div>
                      <div class="col-md-2">
                          <input type="text" 
                                  class="form-control text-end" 
                                  placeholder="0,00" 
                                  [value]="formatDisplayValue(pots[3])"
                                  [(ngModel)]="pots[3]"
                                  (input)="onInputChange($event)" />
                      </div>
                      <div class="col-md-2">
                          <input type="text" 
                                  class="form-control text-end" 
                                  placeholder="0,00" 
                                  [value]="formatDisplayValue(pots[4])"
                                  [(ngModel)]="pots[4]"
                                  (input)="onInputChange($event)" />
                      </div>
                      <div class="col-md-2">
                          <input type="text" 
                                  class="form-control text-end" 
                                  placeholder="0,00" 
                                  [value]="formatDisplayValue(pots[5])"
                                  [(ngModel)]="pots[5]"
                                  (input)="onInputChange($event)" />
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>

<div *ngIf="readCurrentRateOrigin">
  <div class="modal-header">
    <h5 class="modal-title">Consult predefined rate</h5>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
        <div class="col-md-3 me-2"> <!-- Adjust column size as needed -->
            <input type="text" class="form-control" placeholder="Rate" [(ngModel)]="detailDataService.rate" disabled/>
        </div>
        <div class="col-md-3 me-2"> <!-- Adjust column size as needed -->
            <input type="text" class="form-control" placeholder="Type" [(ngModel)]="detailDataService.productType" disabled/>
        </div>
        <div class="col-md-3"> <!-- Adjust column size as needed -->
            <input type="text" class="form-control" placeholder="Type 2" [(ngModel)]="detailDataService.type2td" disabled/>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-2"></div> <!-- Empty column for alignment -->
      <div class="col-md-10">
        <div class="row text-center">
          <div class="col-md-2" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
            <label class="form-label">P{{i}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-md-2">Cons Fees</label>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                  <input type="text" class="form-control text-end" [(ngModel)]="detailDataService.consFees[0]" disabled/>
                </div>
                <div class="col-md-2">
                  <input type="text" 
                         class="form-control text-end" [(ngModel)]="detailDataService.consFees[1]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.consFees[2]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.consFees[3]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.consFees[4]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.consFees[5]" disabled/>
                </div>
              </div>
        </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-md-2">Pot Fees</label>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                  <input type="text" class="form-control text-end" [(ngModel)]="detailDataService.potFees[0]" disabled/>
                </div>
                <div class="col-md-2">
                  <input type="text" 
                         class="form-control text-end" [(ngModel)]="detailDataService.potFees[1]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.potFees[2]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.potFees[3]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.potFees[4]" disabled/>
                </div>
                <div class="col-md-2">
                    <input type="text" 
                           class="form-control text-end" [(ngModel)]="detailDataService.potFees[5]" disabled/>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>



<div class="modal-footer justify-content-end">
  <input type="text" class="form-control me-2" *ngIf="createNewRateOrigin" style="max-width: 300px;" placeholder="Rate name" [(ngModel)]="rateName" />
  <button type="button" class="btn btn-success me-2" *ngIf="createNewRateOrigin" (click)="saveNewRate()">Save</button>
  <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">Close</button>
</div>
